* {
    outline: 1px solid --tomato;
}

.inner {
    margin: 0 auto;
}

.popup {

    position: fixed;
    top: 40%;
    left: 30%;
    z-index: 9999;
    transform: translate(-50%, -50%);
    height: auto;
    width: auto;
    background: #333;
}

.popup .inner {
    width: 400px;
}

.popup img {
    width: 100%;
}

.popup .txt {
    text-align: end;
    color: #fff;
    margin: 5px 5px;
}


.popup button {
    background: transparent;
    border: none;
    outline: none;
    line-height: 1;
}

.popup.on {
    display: none;
}




.header {
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 999;
    color: #fff;
    transition: 0.5s;
}



.header.on {
    background: rgba(27, 35, 47, 0.6);
    height: 100px;
}

.header h1 {
    margin: 10px 0;

}


.header.on h1 {
    width: 70px;
    margin: 15px 0;
}

.header.on .gnb>ul {
    font-size: 15px;
    margin: 25px auto;
}

.header .inner {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
}


.header nav>ul {
    display: flex;
    gap: 50px;
    margin: 50px 0;
    font-size: 18px;

}

.header nav>ul .contact {
    border: 1px solid #fff;
    text-align: center;
    color: #fff;
    padding: 0 20px;
    transition: 0.2s;
}

.header nav>ul .contact:hover {
    background: rgba(255, 255, 255, 0.397);
}

.header nav>ul .menu_i:hover {
    color: #ff6347;
}


/* mainVisual */

.mainVisual {
    color: #fff;
    text-align: center;
}

.mainVisual .main_slide figure {
    position: relative;
    height: 1000px;
}

.mainVisual video {
    width: 100%;
}

.mainVisual .main_slide .symbol {
    position: absolute;
    width: 400px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mainVisual .main_slide strong {
    position: absolute;
    top: 70%;
    left: 50%;
    font-size: 40px;
    font-weight: 700;
    transform: translate(-50%, -50%);
}

.mainVisual .main_slide h3 {
    position: absolute;
    top: 75%;
    left: 50%;
    font-size: 25px;
    font-size: 500;
    transform: translate(-50%, -50%);
}

.mainVisual .main_slide p {
    position: absolute;
    top: 80%;
    left: 50%;
    font-size: 16px;
    font-size: 500;
    transform: translate(-50%, -50%);
}

.mainVisual .main_slide .slick-dots {
    position: absolute;
    bottom: 80px;
    left: 50%;
    transform: translate(-50%, 0);
}

.mainVisual .main_slide .slick-dots>li {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #3333338c;
    margin: 6px;
}

.mainVisual .main_slide .slick-dots>li.slick-active {
    background: #fff;
}


.mainVisual .main_slide .slick-dots>li button {
    display: none;
}




/* mainItem */

.mainItem {
    margin: -40px 0 0 0;
    padding: 210px 0 200px 0;
    background-image: url(../img/main_is_bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}

.mainItem .inner {
    width: 1200px;
    padding: 50px 0;
    color: #4f4f4f;
}

.mainItem .inner span {
    font-size: 40px;
}

.mainItem .inner span .bold {
    font-size: 50px;
    font-weight: 500;
}

.mainItem .inner h2 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: 400;
}


.mainItem .inner p {
    margin: 30px 0;
    font-size: 16px;
    line-height: 20px;
}

.mainItem .inner a {
    position: relative;
}

.mainItem .more::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 60px;
    width: 101px;
    height: 1px;
    background-color: #4f4f4f;
}


.mainItem .items {
    display: flex;
    justify-content: space-between;
    margin: 70px 0;
    text-align: center;
    line-height: 30px;
}

.mainItem .items img {
    width: 102px;
    height: 102px;
}

.mainItem .items figure:hover {
    color: #3dc6a9;
}

.mainItem .items .eng {
    font-size: 25px;
    font-weight: 700;
    margin-top: 15px;
}

.mainItem .img_box_1 {
    margin: 0 auto;
    position: relative;
}

.icon01-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.mainItem a:hover .icon01-1 {
    display: block;
}


.mainItem .img_box_2 {
    margin: 0 auto;
    position: relative;
}

.icon02-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.mainItem a:hover .icon02-1 {
    display: block;
}

.mainItem .img_box_3 {
    margin: 0 auto;
    position: relative;
}

.icon03-1 {
    position: absolute;
    top: 0;
    left: 8px;
    display: none;
}

.mainItem a:hover .icon03-1 {

    display: block;
}

.mainItem .img_box_4 {
    margin: 0 auto;
    position: relative;
}

.icon04-1 {
    position: absolute;
    top: 0;
    left: 12px;
    display: none;
}

.mainItem a:hover .icon04-1 {
    display: block;
}

.mainItem .img_box_5 {
    margin: 0 auto;
    position: relative;
}

.icon05-1 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.mainItem a:hover .icon05-1 {
    display: block;
}


/* mainBanner / banner_slide */
.mainBanner {
    position: relative;
}

.mainBanner .banner_slide figure {
    position: relative;
    height: 450px;
}


.banner_slide {
    margin: -150px 0 0 0;
    position: relative;
}

.mainBanner .banner_slide .itm01 {

    background: url(../img/main_banner_1.jpg)no-repeat center center;
}

.mainBanner .banner_slide .itm02 {

    background: url(../img/main_banner_2.jpg)no-repeat center center;
}

.mainBanner .banner_slide .itm03 {
    background: url(../img/main_banner_3.jpg)no-repeat center center;
}

.mainBanner .banner_slide .itm04 {
    background: url(../img/main_banner_4.jpg)no-repeat center center;
}

.banner_slide .inner {
    width: 1200px;
    margin: 0 auto;

}

.mainBanner .banner_slide h2 {
    padding: 100px 0 0 0;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.mainBanner .banner_slide p {
    padding: 30px 0 0 0;
    color: rgba(255, 255, 255, 0.671);
    font-size: 25px;

}

.mainBanner .banner_slide a {
    position: relative;
    display: block;
    padding: 50px 0 0 0;
    color: #fff;
}

.mainBanner .banner_slide .more::after {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 60px;
    width: 101px;
    height: 1px;
    background-color: rgb(255, 255, 255);
}



.mainBanner .arrows a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 25px;
    height: 50px;
    font-size: 0;
}


.mainBanner .arrows .prev {
    background: url(../img/main_banner_prev.png);
    margin: 30px 0 0 -700px;
}

.mainBanner .arrows .next {
    background: url(../img/main_banner_next.png);
    margin: 30px 0 0 700px;
}


/* Anuual / Annual Report */


.annual {
    margin: -40px 0 0 0;
    padding: 210px 0 200px 0;
    background-image: url(../img/main_annual_left.png) no-repeat left top;
}

.annual .inner {
    width: 1200px;

    margin: 0 auto;
    color: #4f4f4f;
}

.annual .inner>div {
    display: flex;
    flex: 1;
}

.annual .inner span {
    padding: 100px 0;
    font-size: 40px;
}

.annual .inner span .bold {
    font-size: 50px;
    font-weight: 500;
}

.annual .inner h2 {
    margin: 15px 0;
    font-size: 30px;
    font-weight: 400;
}


.annual .inner p {
    margin: 30px 0;
    font-size: 16px;
    line-height: 20px;
}

.annual .inner .more {
    position: relative;
}

.annual .inner .more::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 60px;
    width: 101px;
    height: 1px;
    background-color: #4f4f4f;
}

.annual .inner {
    display: flex;
}

.annual .inner figure {
    margin: 100px 0 0 50px;
}

.annual .inner .desc {
    margin: 420px 0 0 0;
    text-align: end;
}


/* Story / count for branches */

.story {
    background: #653dd1;
    height: 880px;
}

.story .left figure img {
    margin: -119px 0;
}


.story .inner {
    position: relative;
    display: flex;
    justify-content: space-between;

}

.story .tit {
    position: absolute;
    top: 20%;
    right: 18.4%;
}


.story .right span {
    padding: 100px 0;
    font-size: 40px;
    color: #fff;
}

.story .right span .bold {
    font-size: 50px;
    font-weight: 500;
}

.story .right p {
    padding: 30px 0 0 0;
    color: rgba(255, 255, 255, 0.671);
    font-size: 25px;
    line-height: 40px;

}

.story .right a {
    position: relative;
    display: block;
    padding: 50px 0 0 0;
    color: #fff;
}

.story .right a::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 101px;
    height: 1px;
    color: #fff;
}


/* branch counting */

.campus {
    display: flex;
    gap: 20px;
    padding-top: 50px;
}

#counter {

    font-size: 300px;
    color: #fff;
    font-weight: 600;
}

.campus strong {
    margin-top: 150px;
    color: rgba(255, 255, 255, 0.671);
    font-size: 30px;
    font-weight: 500;
    line-height: 60px;
}






/* footer / top_box */

.footer {
    margin-top: 300px;
    background: #1b232f;

}

.footer .top_box {
    max-width: 1520px;
    margin: 0 auto 0 auto;
    padding: 70px 0 0 0;
    position: relative;
    top: -190px;
    min-height: 380px;
    background: #616161;
}

.footer .top_box .inner {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 200px;
}

.footer .top_box .inner>div {
    flex: 1;

}

.footer .list_tit {
    display: flex;
    justify-content: space-between;
    color: rgba(255, 255, 255, 0.85);
    font-size: 32px;
    line-height: 60px;
}

.footer .list_tit span {
    color: rgba(255, 255, 255, 0.85);
    font-size: 32px;
    font-weight: 500;
}

.footer .list_tit a {
    font-size: 15px;
    padding: 0 30px 0 0;
}


.footer .list_tit>ul {
    overflow: hidden;
}


.footer .top_box .left .list a {
    display: block;
    width: 480px;
    height: 58px;
    line-height: 58px;
    padding: 0 20px 0 5px;
    color: rgba(255, 255, 255, 0.85);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: url(../img/list_icon.png) no-repeat 99% 50%;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transition: 0.3s;
}


.footer .top_box .left .list a:hover {
    color: #161616;
}



/* footer .top_box right */

.footer .top_box .right {
    line-height: 45px;
    color: rgba(255, 255, 255, 0.85);
    width: 480px;
}


.footer .top_box .right span {
    font-size: 32px;
    font-weight: 500;
}

.footer .top_box .right address {
    font-size: 16px;
}


.footer .top_box .right .tit a {
    font-size: 24px;
    font-weight: 500;
}


.footer .top_box .right .info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

.footer .top_box .right .info a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.85);
    width: 230px;
    height: 50px;
    line-height: 49px;
    background: url(../img/list_icon.png) no-repeat 91% 50%;
    background-color: rgba(0, 0, 0, 0.3);
    font-weight: 500;
    padding-left: 25px;
    transition: 0.5s;
}

.footer .top_box .info a:hover {
    background-color: rgba(0, 0, 0, 0.836);
}


/* footer / footer copyright */


.footer .bottom_box {
    width: 1200px;
    margin: -120px auto 0 auto;
}

.footer .bottom_box .top {
    display: flex;

}

.footer .bottom_box .top>div {
    flex: 1;
    justify-content: space-between;
}

.footer .bottom_box .top .right {
    display: flex;
    width: 480px;

}

.footer_caption {

    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 25px;
}

.footer .bottom_box .right a {

    color: rgba(255, 255, 255, 0.4);
    line-height: 34px;
    display: block;
    transition: 0.2s;
}

.footer .bottom_box .right a:hover {
    color: #e9e9e9d0;
}



.footer .bottom_box .copyright {
    color: rgba(255, 255, 255, 0.25);
    font-size: 12px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 20px 0 50px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    margin-top: 40px;

}